.inputTask {
  height: 30px;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 15px;
}
.pushButton {
  position: relative;
  display: inline-block;
  font-size: 90%;
  font-weight: 700;
  color: rgb(209, 209, 217);
  text-decoration: none;
  text-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  padding: 0.5em 1em;
  outline: none;
  border-radius: 3px;
  background: linear-gradient(rgb(110, 112, 120), rgb(81, 81, 86))
    rgb(110, 112, 120);
  transition: 0.2s ease-in-out;
}
.pushButton:hover:not(:active) {
  background: linear-gradient(rgb(126, 126, 134), rgb(70, 71, 76))
    rgb(126, 126, 134);
}
.pushButton:active {
  background: linear-gradient(rgb(76, 77, 82), rgb(56, 57, 62)) rgb(76, 77, 82);
}

.errorValue {
  color: rgb(252, 137, 137);
  font-weight: bold;
  font-size: 0.85rem;
  padding: 2px;
  letter-spacing: 0.05rem;
  position: absolute;
  top: 45px;
}
