.moveButton {
  position: relative;
  display: inline-block;
  font-size: 90%;
  font-weight: 700;
  color: rgb(209, 209, 217);
  text-decoration: none;
  text-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  padding: 0.5em 1em;
  outline: none;
  border-radius: 3px;
  background: linear-gradient(rgb(110, 112, 120), rgb(81, 81, 86))
    rgb(110, 112, 120);
  transition: 0.2s ease-in-out;
}
.moveButton:hover:not(:active) {
  background: linear-gradient(rgb(126, 126, 134), rgb(70, 71, 76))
    rgb(126, 126, 134);
}
.moveButton:active {
  background: linear-gradient(rgb(76, 77, 82), rgb(56, 57, 62)) rgb(76, 77, 82);
}

.task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .task {
    flex-direction: column;
    justify-content: center;
    width: 320px;
  }
  .moveButton {
    width: 100%;
  }
  .taskText {
    text-align: center;
    margin: 10px;
  }
  .isDone {
    margin-right: none;
    margin-bottom: 10px;
  }
}
.task:nth-child(even) {
  background-color: rgb(182, 182, 182);
}

.taskText {
  margin-left: 5px;
  width: 400px;
}

.isDone {
  margin-right: 10px;
}
